<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<footer id="footer_container">
    <div id="company_details">
        <div id="products_info">
            <p id="product_heading">PRODUCTS</p>
            <ul id="product_list">
                <li><a href="#">Mens Wear</a></li>
                <li><a href="#">Womens Wear</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Gift Card</a></li>
            </ul>        
        </div>
        <div id="shoppers_intro">
            <p>
                SHOPPERS TOWN is a leading brand in the fashion industry. High quality products for men and women so shop 
                here and get exclusive deals and huge discount offers. We believe in our product and services and we make
                our customers happy. 
            </p>
        </div>
        <div id="contact_us">
            <form action="" method="post">
                <input type="text" name="contact" placeholder="Enter your name" id="contact" required>
                <br>
                <input type="text" name="email" placeholder="Enter your email" id="email" required>
                <br>
                <input type="text" name="context" placeholder="Type here" id="context" required>
                <br>
                <button id="submit_contact">SUBMIT</button>
            </form>        
        </div>    
    </div>
    <div id="social_media_contact">
        <a href="#"><i class="icon ion-social-instagram"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
    <div id="footer_content">
        <p> Shoppers Town, ALL Rights Reserved </p>
    </div>
</footer>