<header>
    <div id="top-head-bar">
        <p>EXCLUSIVE DEALS AND OFFERS ONLY ON SHOPPERSTOWN</p>
    </div>
    <div id="navigation_container">
        <div id="left_nav">
            <a href="" >MEN</a>
            <a href="" >WOMEN</a>
            <a href="" >GIFTS</a>
        </div>
        <div id="logo">
            <p>SHOPPERS TOWN</p>
        </div>
        <div id="right_nav">
            <a href="" >HOME</a>
            <a href="" >SIGN IN</a>
            <a href="" >SIGN UP</a>
        </div>
    </div>

</header>