<link rel="stylesheet" href="/css/signin.css">

<div id="signin_form_container">
    <form action="/users/sign-in-user" method="post" id="users_signin_form">
            <input type="email" placeholder="Enter the Email" name="loginEmail" id="login_email"  required>
            <br>
            <input type="password" placeholder="Enter password" name="loginPassword" id="login_password" required>
            <br>
            <input type="submit" value="Sign In" id="login_user_details">
            <p id="user_signup">Don't have an account <a href="/users/sign-up">Sign Up</a></p>
    </form>
</div>