<link rel="stylesheet" href="/css/signup.css">
<div id="main_container">
    <div id="signup_form_container">
        <form action="" method="post" id="user_signup_form" >
            <input type="text" placeholder="Enter the Name" name="name" id="name" required>
            <br>
            <input type="email" placeholder="Enter the Email" name="email" id="user_email"  required>
            <br>
            <input type="password" placeholder="Enter password" name="password"  id="password" required>
            <br>
            <input type="password" placeholder="confirm password" name="ConfirmPassword" id="confirm_password" required >
            <br>
            <input type="hidden" name="type" value="BUYER">
            <input type="submit" value="Sign up" id="submit_user_details">
            <p id="user_login">Already have an account <a href="/users/sign-in">Log In</a></p>
        </form>
    </div>
</div>